# Домашнее задание № 1

Для встроенного датасета USArrests определить:
1. Количество строк и столбцов(dim, ncol, nrow)

In [70]:
df <- USArrests

cat('Количество строк и столбцов:',  dim(df), '\n')
cat('Количество строк:', nrow(df), '\n')
cat('Количество столбцов:', ncol(df), '\n')

Количество строк и столбцов: 50 4
Количество строк: 50
Количество столбцов: 4

2. Вывести на консоль содержание первых строк (head, tail, обращение по индексам строк):

In [71]:
head(df)

           Murder Assault UrbanPop Rape
Alabama    13.2   236     58       21.2
Alaska     10.0   263     48       44.5
Arizona     8.1   294     80       31.0
Arkansas    8.8   190     50       19.5
California  9.0   276     91       40.6
Colorado    7.9   204     78       38.7

In [72]:
tail(df)

              Murder Assault UrbanPop Rape
Vermont       2.2     48     32       11.2
Virginia      8.5    156     63       20.7
Washington    4.0    145     73       26.2
West Virginia 5.7     81     39        9.3
Wisconsin     2.6     53     66       10.8
Wyoming       6.8    161     60       15.6

3. Вывести на консоль 16-20 элементы 3 столбца, обратившись к нему по имени (обращение по именам столбцов, индексам строк):

In [73]:
df[16:20, 'Murder']

[1]  6.0  9.7 15.4  2.1 11.3

4. Тип/структуру/подтип данных для датасета в целом и каждого столбца (mode, class, typeof, цикл for, print):

In [74]:
class(df)

[1] "data.frame"

In [75]:
for (i in 1:ncol(df)) {
  cat(colnames(df)[i], "column type is",  class(df[, i]), "\n")
}

Murder column type is numeric
Assault column type is integer
UrbanPop column type is integer
Rape column type is numeric

5. Имена столбцов и строк (colnames, rownames, dimnames):

In [76]:
colnames(df)

[1] "Murder"   "Assault"  "UrbanPop" "Rape"

In [77]:
rownames(df)

 [1] "Alabama"        "Alaska"         "Arizona"        "Arkansas"
 [5] "California"     "Colorado"       "Connecticut"    "Delaware"
 [9] "Florida"        "Georgia"        "Hawaii"         "Idaho"
[13] "Illinois"       "Indiana"        "Iowa"           "Kansas"
[17] "Kentucky"       "Louisiana"      "Maine"          "Maryland"
[21] "Massachusetts"  "Michigan"       "Minnesota"      "Mississippi"
[25] "Missouri"       "Montana"        "Nebraska"       "Nevada"
[29] "New Hampshire"  "New Jersey"     "New Mexico"     "New York"
[33] "North Carolina" "North Dakota"   "Ohio"           "Oklahoma"
[37] "Oregon"         "Pennsylvania"   "Rhode Island"   "South Carolina"
[41] "South Dakota"   "Tennessee"      "Texas"          "Utah"
[45] "Vermont"        "Virginia"       "Washington"     "West Virginia"
[49] "Wisconsin"      "Wyoming"

In [78]:
dimnames(df)

[[1]]
 [1] "Alabama"        "Alaska"         "Arizona"        "Arkansas"
 [5] "California"     "Colorado"       "Connecticut"    "Delaware"
 [9] "Florida"        "Georgia"        "Hawaii"         "Idaho"
[13] "Illinois"       "Indiana"        "Iowa"           "Kansas"
[17] "Kentucky"       "Louisiana"      "Maine"          "Maryland"
[21] "Massachusetts"  "Michigan"       "Minnesota"      "Mississippi"
[25] "Missouri"       "Montana"        "Nebraska"       "Nevada"
[29] "New Hampshire"  "New Jersey"     "New Mexico"     "New York"
[33] "North Carolina" "North Dakota"   "Ohio"           "Oklahoma"
[37] "Oregon"         "Pennsylvania"   "Rhode Island"   "South Carolina"
[41] "South Dakota"   "Tennessee"      "Texas"          "Utah"
[45] "Vermont"        "Virginia"       "Washington"     "West Virginia"
[49] "Wisconsin"      "Wyoming"

[[2]]
[1] "Murder"   "Assault"  "UrbanPop" "Rape"

6. Сумму, среднее, дисперсию, среднеквадратическое отклонение всего датасета (sum, mean, sd, var):

In [79]:
cat("Сумма по всему датасету:", sum(df), "\n")
cat("Среднее по всему датасету:", mean(as.matrix(df)), "\n")
cat("Дисперсия по всему датасету:", var(as.vector(as.matrix(df))), "\n")
cat("Среднеквадратическое отклонение по всему датасету:", sd(as.vector(as.matrix(df))), "\n")

Сумма по всему датасету: 13266
Среднее по всему датасету: 66.33
Дисперсия по всему датасету: 5900.352
Среднеквадратическое отклонение по всему датасету: 76.81375

7. Сумму, среднее, дисперсию, среднеквадратическое отклонение каждого столбца

In [80]:
cat("Статистика по столбцам:", "\n")
for (i in 1:ncol(df)) {
  cat("Столбец:", colnames(df)[i], "\n")
  cat("Сумма:", sum(df[, i]), "\n")
  cat("Среднее:", mean(df[, i]), "\n")
  cat("Дисперсия:", var(df[, i]), "\n")
  cat("Среднеквадратическое отклонение:", sd(df[, i]), "\n")
  cat("\n")
}

Статистика по столбцам:
Столбец: Murder
Сумма: 389.4
Среднее: 7.788
Дисперсия: 18.97047
Среднеквадратическое отклонение: 4.35551

Столбец: Assault
Сумма: 8538
Среднее: 170.76
Дисперсия: 6945.166
Среднеквадратическое отклонение: 83.33766

Столбец: UrbanPop
Сумма: 3277
Среднее: 65.54
Дисперсия: 209.5188
Среднеквадратическое отклонение: 14.47476

Столбец: Rape
Сумма: 1061.6
Среднее: 21.232
Дисперсия: 87.72916
Среднеквадратическое отклонение: 9.366385

8. Сумму, среднее, дисперсию, среднеквадратическое  отклонение каждой строки

In [81]:
rowSums(df)

       Alabama         Alaska        Arizona       Arkansas     California
         328.4          365.5          413.1          268.3          416.6
      Colorado    Connecticut       Delaware        Florida        Georgia
         328.6          201.4          331.7          462.3          314.2
        Hawaii          Idaho       Illinois        Indiana           Iowa
         154.5          190.8          366.4          206.2          126.5
        Kansas       Kentucky      Louisiana          Maine       Maryland
         205.0          187.0          352.6          143.9          406.1
 Massachusetts       Michigan      Minnesota    Mississippi       Missouri
         254.7          376.2          155.6          336.2          285.2
       Montana       Nebraska         Nevada  New Hampshire     New Jersey
         184.4          184.8          391.2          124.6          274.2
    New Mexico       New York North Carolina   North Dakota           Ohio
         398.5          377.2          411.1           97.1          223.7
      Oklahoma         Oregon   Pennsylvania   Rhode Island South Carolina
         245.6          260.2          199.2          272.7          363.9
  South Dakota      Tennessee          Texas           Utah        Vermont
         147.6          287.1          319.2          226.1           93.4
      Virginia     Washington  West Virginia      Wisconsin        Wyoming
         248.2          248.2          135.0          132.4          243.4

In [82]:
rowMeans(df)

       Alabama         Alaska        Arizona       Arkansas     California
        82.100         91.375        103.275         67.075        104.150
      Colorado    Connecticut       Delaware        Florida        Georgia
        82.150         50.350         82.925        115.575         78.550
        Hawaii          Idaho       Illinois        Indiana           Iowa
        38.625         47.700         91.600         51.550         31.625
        Kansas       Kentucky      Louisiana          Maine       Maryland
        51.250         46.750         88.150         35.975        101.525
 Massachusetts       Michigan      Minnesota    Mississippi       Missouri
        63.675         94.050         38.900         84.050         71.300
       Montana       Nebraska         Nevada  New Hampshire     New Jersey
        46.100         46.200         97.800         31.150         68.550
    New Mexico       New York North Carolina   North Dakota           Ohio
        99.625         94.300        102.775         24.275         55.925
      Oklahoma         Oregon   Pennsylvania   Rhode Island South Carolina
        61.400         65.050         49.800         68.175         90.975
  South Dakota      Tennessee          Texas           Utah        Vermont
        36.900         71.775         79.800         56.525         23.350
      Virginia     Washington  West Virginia      Wisconsin        Wyoming
        62.050         62.050         33.750         33.100         60.850

In [83]:
rowVars <- function(x) {
  rowSums((x - rowMeans(x))^2)/(dim(x)[2] - 1)
}

In [84]:
rowVars(df)

       Alabama         Alaska        Arizona       Arkansas     California
    10907.3467     13385.2292     17066.5692      7020.4892     14265.8233
      Colorado    Connecticut       Delaware        Florida        Georgia
     7421.8700      2674.2033     11535.4092     22149.8158      8136.3300
        Hawaii          Idaho       Illinois        Indiana           Iowa
     1157.8558      2807.7467     12003.9733      2285.7433       838.9892
        Kansas       Kentucky      Louisiana          Maine       Maryland
     2478.2500      2067.5100     12001.7700      1459.4825     18053.4092
 Massachusetts       Michigan      Minnesota    Mississippi       Missouri
     4497.6758     12165.9367      1238.8200     13770.3367      5708.4933
       Montana       Nebraska         Nevada  New Hampshire     New Jersey
     2164.7067      2000.3267     11356.8267       866.1233      4937.9300
    New Mexico       New York North Carolina   North Dakota           Ohio
    15861.6025     12382.1533     24590.4692       552.6092      2675.2758
      Oklahoma         Oregon   Pennsylvania   Rhode Island South Carolina
     4262.9067      4575.4967      2253.8467      6444.7092     15917.6025
  South Dakota      Tennessee          Texas           Utah        Vermont
     1384.2800      6372.0825      7380.1267      2851.4492       425.7967
      Virginia     Washington  West Virginia      Wisconsin        Wyoming
     4468.3100      3885.2100      1214.9100       968.6533      4999.9033

In [85]:
rowSds <- function(x) {
  sqrt(rowSums((x - rowMeans(x))^2)/(dim(x)[2] - 1))
}

9. Вывести с 10 по 14 элементы для каждого столбца (обращение по индексам строк, for)

In [86]:
df[10:14, ]

         Murder Assault UrbanPop Rape
Georgia  17.4   211     60       25.8
Hawaii    5.3    46     83       20.2
Idaho     2.6   120     54       14.2
Illinois 10.4   249     83       24.0
Indiana   7.2   113     65       21.0

10. Сколько в датасете элементов меньше 10 (sum, условие)

In [88]:
sum(df < 10)

[1] 39

11. Сколько в каждом столбце элементов меньше 10 (sum, условие)

In [89]:
apply(df < 10, 2, sum)

  Murder  Assault UrbanPop     Rape
      34        0        0        5

12. Какие штаты содержат в названии “Miss” (which, rownames, grepl)

In [90]:
rownames(df)[grepl("Miss", rownames(df))]

[1] "Mississippi" "Missouri"

13. Вывести на консоль криминальную статистику для штатов, содержащих в названии “New”

In [91]:
df[grep("New", rownames(df)), ]

              Murder Assault UrbanPop Rape
New Hampshire  2.1    57     56        9.5
New Jersey     7.4   159     89       18.8
New Mexico    11.4   285     70       32.1
New York      11.1   254     86       26.1

14. Записать файл .csv, содержащий 1-20 строки и 1 и 3 столбцы

In [92]:
write.csv(df[1:20, c(1,3)], file="data_subset.csv")

15. Записать файл .xlsx, содержащий листы M и N со статистикой для штатов, начинающихся на букву M и N

In [96]:
library(xlsx)
write.xlsx(df[grep("^M", rownames(df)), ], file = "data_stat.xlsx",sheetName="M", append = FALSE)
write.xlsx(df[grep("^N", rownames(df)), ], file = "data_stat.xlsx",sheetName="N", append = TRUE)

Warning message:
"пакет 'xlsx' был собран под R версии 4.3.2"

16. Прочитать записанные файлы

In [97]:
read.csv("data_subset.csv")

   X           Murder UrbanPop
1  Alabama     13.2   58
2  Alaska      10.0   48
3  Arizona      8.1   80
4  Arkansas     8.8   50
5  California   9.0   91
6  Colorado     7.9   78
7  Connecticut  3.3   77
8  Delaware     5.9   72
9  Florida     15.4   80
10 Georgia     17.4   60
11 Hawaii       5.3   83
12 Idaho        2.6   54
13 Illinois    10.4   83
14 Indiana      7.2   65
15 Iowa         2.2   57
16 Kansas       6.0   66
17 Kentucky     9.7   52
18 Louisiana   15.4   66
19 Maine        2.1   51
20 Maryland    11.3   67

In [98]:
read.xlsx("data_stat.xlsx", sheetName = "M")

  NA.           Murder Assault UrbanPop Rape
1 Maine          2.1    83     51        7.8
2 Maryland      11.3   300     67       27.8
3 Massachusetts  4.4   149     85       16.3
4 Michigan      12.1   255     74       35.1
5 Minnesota      2.7    72     66       14.9
6 Mississippi   16.1   259     44       17.1
7 Missouri       9.0   178     70       28.2
8 Montana        6.0   109     53       16.4

In [99]:
read.xlsx("data_stat.xlsx", sheetName = "N")

  NA.            Murder Assault UrbanPop Rape
1 Nebraska        4.3   102     62       16.5
2 Nevada         12.2   252     81       46.0
3 New Hampshire   2.1    57     56        9.5
4 New Jersey      7.4   159     89       18.8
5 New Mexico     11.4   285     70       32.1
6 New York       11.1   254     86       26.1
7 North Carolina 13.0   337     45       16.1
8 North Dakota    0.8    45     44        7.3